@{
    ViewData["Title"] = "Home Page";
}

@model  IQueryable<Project>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
<header>Give the Gift of Imagination</header><br /><br />

@foreach (var x in Model)
{
<div>
    <h5>@x.Title</h5>
    <p>Author: @x.Author</p>
    <p>Publisher: @x.Publisher</p>
    <p>ISBN: @x.ISBN</p>
    <p>Classification/Category: @x.Category</p>
    <p>Price: @x.Price</p>
</div>
}
</body>